/*
   	  	Name: Zachary Spielberger
   	  	Section: 2
		For this assignment you must create a simple web page with the celebrity of your choosing that meets several requirements.
		This File contains the basic CSS for the index.HTML file
		This file applies a background color to the body and three divs, as well as teh text color and font
*/

body{background-color:#2A4E72;}

h1,h1{font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif; }

#about{
	background-color:#7C93AD; 
	color:#000000;
}

#profile_pic{
	float: right;
	width: 400px;
	height: 240px;
}

.headers{
	background-color:#C05870;
	color: #F9F7F5;
	font-size: 1.5em;
}

div#quotes-section ul li:before{content: open-quote;}

div#quotes-section ul li:after{content: close-quote;}

li{
	color:#F9F7F5;
	list-style-type: circle;
}